# **Task 1**

Write a function called even_checker that takes a number as an argument and prints whether
the number is even or odd inside the function.

===================================================================

Example 1:

Function Call:
even_checker(5)\

Output:
Odd!!

===================================================================

Example2:

Function Call:
even_checker(2)

Output:
Even!!

In [ ]:
#task1
def even_checker(num):
   if num % 2 == 0:
      print("Even!!")
   else:
      print("Odd!!")
    
even_checker(4)

Even!!

### **Task 2**

Write a python function that takes the limit as an argument of the Fibonacci series and prints till
that limit.

===================================================================

Function Call:fibonacci(10)

Output:
0 1 1 2 3 5 8

===================================================================

Function Call:
fibonacci(5)

Output:
0 1 1 2 3 5

Task

In [ ]:
#task-02
def fibonacci(num):
   a = 0
   b = 1
   total = 0
   count = 1
   while count <= num+1:
     if total <= num:
       print(total, end=" ")
       #count += 1
       a = b
       b = total
       total = a + b
       count+=1

fibonacci(10)

0 1 1 2 3 5 8

### **Task-3**
Write a function called foo_moo that takes a number as an argument and returns the following statements according to the below mentioned conditions. Then, finally prints the statement in the function call.

If the number is divisible by 2, it should return "Foo".                            
If the number is divisible by 3, it should return "Moo".                               
If the number is divisible by both 2 and 3, it should return "FooMoo".                   
Otherwise, it returns "Boo".                                                     
Example1:                                                                        
Function Call:
foo_moo(5)                                                                             
Output:
Boo

===================================================================                         
Example2:                                                                          
Function Call:
foo_moo(4)                                                                      
Output:                                                                        Foo

===================================================================                  
Example3:                                                                        
Function Call:
foo_moo(6)                                                                       
Output:
FooMoo

In [ ]:
#task-03
def foo_moo(num):
    if num % 2 == 0 and num % 3 == 0:
        return "FooMoo"
    elif num % 2 == 0:
        return "Foo"
    elif num % 3 == 0:
        return "Moo"
    else:
        return "Boo"


print(foo_moo(5))

### **Task-4**
Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function. 

===================================================================                  
Function Call:
function_name('The quick Sand Man')
Output:                                                                          
No. of Uppercase characters : 3                                                    
No. of Lowercase Characters: 12     

===================================================================                 
Function Call:
function_name('HaRRy PotteR')
Output:                                                                                 
No. of Uppercase characters : 5                                                     
No. of Lowercase Characters: 6

In [ ]:
#task-4
user_str = input("Enter a String:")


def case_dect(n):
    upper = 0
    lower = 0
    for i in n:
        if 96 < ord(i) < 123:
            lower += 1
        elif 64 < ord(i) < 91:
            upper += 1
        else:
            continue

    print("No. of Uppercase characters :", upper)
    print("No. of Lowercase characters :", lower)


print(case_dect(user_str))

### **Task -05**
Write a function called calculate_tax that takes 3 arguments: your age, salary, and current job designation.                                                       
Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and calculate the tax as the following conditions:

NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.     

NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY      

No tax if you get paid less than 10,000      

5% tax if you get paid between 10K and 20K        

10% tax if you get paid more than 20K

Finally return this tax value. Then print the returned value in the function call.

Hints: Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.    

**===================================================================     **            
Example1:                                                                        
Input:                                                                             
16
20000
Student                                                                            
Function Call:
calculate_tax(16, 20000, 'Student')                                                       
Output:
0

===================================================================               
Example2: 

Input:
20
18000
assistant manager                                                                
Function Call:
calculate_tax(20, 18000, 'assistant manager')                                          
Output:
900.0

===================================================================                

Example3:                                                                        
Input:
20
22000
assistant manager
Function Call:
calculate_tax(20, 22000, 'Assistant manager')                                    
Output:
2200.0  

===================================================================                        
Example4: 

Input:
20
122000
president                                                                           
Function Call:
calculate_tax(20, 122000, 'president')                                                
Output:
0

In [ ]:
#task-05
def calculate_tax(age, salary, job):
    if age < 18 or job == "president" or salary < 10000:
        return "NO TAX"
    elif 10000 < salary < 20000:
        return (5 / 100) * salary
    else:
        return (10 / 100) * salary


age = int(input("Enter the age:"))
salary = int(input("Enter the Salary:"))
job = input("Enter your job  designation:").lower()

print(calculate_tax(age, salary, job))

### **Task-6**
Write a function which will take 1 argument, number of days.                     
Your first task is to take the number of days as user input and pass the value to the function.                                                                 
Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 

Note: Assume, each year to be 365 days and month to be 30 days.                      
Hint(1): Divide and mod the main input to get the desired output.                
Hint(2): This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion.

Example01                                                                        
Input:
4330                                                                             
Function Call:
function_name(4330)                                                                 
Output:
11 years, 10 months and 15 days

===================================================================                   
Example02                                                                           
Input:
2250                                                                                 
Function Call:
function_name(2250)                                                                   
Output:
6 years, 2 months and 0 days

In [ ]:
#task-06
days = int(input("Enter the ammount of days:"))


def day_count(d):
    years = 0
    months = 0
    day = 0

    years = years + (d // 365)
    months = months + ((d % 365) // 30)
    day = day + ((d % 365) % 30)
    print(years, "years", months, "months", day, "days")


day_count(days)

### **Task 7**

Write a function called show_palindrome that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.

Example1:  
Function Call:
show_palindrome(5)                                                               
Output:
123454321

===================================================================                    
Example2:                                                                         
Function Call:
show_palindrome(3)                                                                    
Output:
12321

In [ ]:
#task-07
def show_palindrome(num):
  
   a_string=""
   for i in range(num + 1):
      a_string = a_string + str(i)
   b_string = a_string[(num-1):0:1]
   new_string = a_string + b_string
   return int(new_string)


show_palindrome(5)

12345

Write a function called show_palindromic_triangle that takes a number as an argument and prints a Palindromic Triangle in the function. 

[Must reuse the show_palindrome() function of the previous task] 

===================================================================                
Hints(1): 
Need to use both print() and print( , end = " ") functions

===================================================================              
Example1:

Function Call:
show_palindromic_triangle(5)

output:

![Screenshot 2022-04-20 010404.png]()

In [ ]:
#task08
def triangle_palindromic (num):
   for i in range (1 , num+1):
      space = num - i
      for j  in range(space):
         print(" " , end = " ")

      def triangle_palindromie (num):
         for i in range(num):
            print(i + 1 , end = " ")
         for i in range (num , 1 , -1):
            print(i - 1 , end = " ")

      triangle_palindromie(i)
      print(" ")

triangle_palindromic(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### **Task-09**

Write a function called area_circumference_generator that takes a radius of a circle as a function parameter and calculates its circumference and area. Then returns these two results as a tuple and prints the results using tuple unpacking in the function call according to the given format. 
[Must use tuple packing & unpacking] 

===================================================================

Example1: 
Function Call:
area_circumference_generator(1)

Output:
(3.141592653589793, 6.283185307179586)

Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#task09
def area_circumference_generator(r):
    import math
    area = math.pi * r ** 2
    circumference = 2 * math.pi * r
    a_tupple = (area, circumference)
    ar, cr = a_tupple
    return area, circumference


d = area_circumference_generator(1.5)
print(d)
ar, cr = d
print("the area is {0} and the circumference is {1}".format(ar, cr))

(7.0685834705770345, 9.42477796076938)
the area is 7.0685834705770345 and the circumference is 9.42477796076938

### **Task-10**

Write a function called make_square that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should return a dictionary with the numbers as keys and its squares as values.

================================================================
Hints: 
You need to declare a dictionary to store the result. You should use the range function to run the “for loop”.

================================================================

Example1: 
Function Call:
make_square((1,3))

Output:
{1: 1, 2: 4, 3: 9}

================================================================

Example2: 

Function Call:
make_square((5,9))

Output:
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#task-10
def make_square(starting,ending):
   a_dict={}
   for i in range(starting,ending+1):
      a_dict[i] = i ** 2
   return a_dict
make_square(5,9)

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### **Task-11**
Write a function called rem_duplicate that takes a tuple in the parameter and return a tuple removing all the duplicate values. Then print the returned tuple in the function call. 

[Cannot use remove() or removed() for this task]  


================================================================ 

**Hints: **
Unlike lists, tuples are immutable, so the tuple taken as an argument cannot be modified. But the list can be modified and lastly for returning the result use type conversion. You need to use membership operators (in, not in) for preventing adding any duplicates values.


================================================================

Example1: 

Function Call:
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

Output:
(1, 2, 3, 4, 5, 6, 0)

================================================================
Example2: 

Function Call:
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))

Output:
('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
def rem_duplicate(tup):
    tup_list = list(tup)
    no_duplicate = []
    for item in tup_list:
        if item not in no_duplicate:
            no_duplicate.append(item)
    fresh_tup = tuple(no_duplicate)
    return fresh_tup


# Function Call
print(rem_duplicate((1, 1, 1, 2, 3, 4, 5, 6, 6, 6, 6, 4, 0, 0, 0)))
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi", "a", "a", [1, 2])))